header.container
    a(href="/") 
        img.logo(src=require("./images/logos/main-logo.svg") alt="clouds")
    nav.navbar-menu 
        a(href="#clients") Our clients
        a(href="#trip") Choose a trip
        a(href="#offers") Special offers
        a(href="#opinions") Opinions
        a(href="#contacts") Contacts